[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
sphinx = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-bcrypt = "*"
flask-login = "*"
pillow = "*"
bcrypt = "*"
flask-debugtoolbar = "*"
wtforms-components = "*"
faker = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
