{% extends "calendars/calendar.html" %}
{% block view %}

<table class="month-calendar table table-bordered">
    <thead>
        <tr>
            {% for day in calendar.weekdays %}
            <th scope="col">{{ day.name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for week in calendar.weeks %}
        <tr>
        {% for day, weekday in week %}
            {% if day == 0 %}
            <td class="no-day">&nbsp;</td>
            {% else %}
            <td>{{ day }}</td>
            {% endif %}
        {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}