{% extends "calendars/calendar.html" %}
{% block view %}

{% set ns = namespace(count=1) %}
{% for row in calendar.months %}
<div class="row">
    {% for month in row %}
    <div class="col">
        <h2 class="text-center">{{ calendar.month_name(ns.count) }}</h2>
        <table class="year-calendar table table-bordered">
            <thead>
                <tr>
                    <th>M</th>
                    <th>T</th>
                    <th>W</th>
                    <th>T</th>
                    <th>F</th>
                    <th>S</th>
                    <th>S</th>
                </tr>
            </thead>
            <tbody>
                {% for week in month %}
                <tr>
                {% for day, weekday in week %}
                    {% if day == 0 %}
                    <td class="no-day">&nbsp;</td>
                    {% else %}
                    <td>{{ day }}</td>
                    {% endif %}
                {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% set ns.count = ns.count + 1 %}
    {% endfor %}
</div>
{% endfor %}

{% endblock %}