{% extends "base.html" %}
{% block content %}

<div id="carousel" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img class="d-block w-100" src="https://picsum.photos/800/400" alt="First slide">
			<div class="carousel-caption d-none d-md-block">
				<h5>A Timetable you can modify to your busy schedule</h5>
				<p>Custom weekly timetables you can upload files to!</p>
			</div>
		</div>
		<div class="carousel-item">
			<img class="d-block w-100" src="https://picsum.photos/800/400" alt="Second slide">
			<div class="carousel-caption d-none d-md-block">
				<h5>I'm sure there's more to say about it</h5>
				<p>Just can't think of anything right now</p>
			</div>
		</div>
		<div class="carousel-item">
			<img class="d-block w-100" src="https://picsum.photos/800/400" alt="Third slide">
			<div class="carousel-caption d-none d-md-block">*
				<h5>Thought I'd add a third slide</h5>
				<p>Thought that might be nice</p>
			</div>
		</div>
	</div>
</div>
<h1 class="display-4 text-center py-1 mb-4 border-bottom">About TeachTime</h1>
<p>
	Sed felis augue, mollis eget lobortis sed, dapibus sit amet libero. Fusce eget leo nec enim pulvinar hendrerit. In est leo, ultrices quis neque sodales, porttitor molestie velit. 
	Pellentesque mollis efficitur convallis. Integer convallis turpis sit amet volutpat ultrices. Nulla efficitur ex eros, vitae laoreet dolor condimentum non. 
	Maecenas consectetur, nisi in fermentum rhoncus, massa dolor congue sem, sit amet consectetur sem erat sit amet diam. Vestibulum eu felis maximus, venenatis quam a, vehicula nibh. 
	Phasellus eu urna dui. Duis felis libero, placerat vitae tempor quis, imperdiet eleifend ante. Curabitur pellentesque eget tortor eu egestas. 
	Nunc ultrices eros vitae risus mollis, eu tempor libero mollis. Morbi lacus leo, pulvinar sit amet dolor eu, consequat porta nisi. 
	Sed a magna in dui pellentesque sagittis. Nunc convallis sem eu velit ullamcorper consequat.
</p>
<p>
	Pellentesque semper purus ligula, sed dictum sem feugiat vel. Nullam nulla mauris, varius imperdiet cursus nec, tristique ac arcu. Integer dignissim nunc ut euismod pulvinar. 
	Vivamus posuere gravida nisl sed vestibulum. Nunc convallis sapien lectus, vel tincidunt erat aliquet vitae. Nam tincidunt quam et neque sollicitudin convallis. 
	Morbi vehicula a magna eu rutrum. Maecenas mattis sem vitae velit convallis rutrum. Nunc egestas ipsum vitae laoreet auctor. Praesent in nibh id risus pretium gravida ac sit amet diam. 
	Quisque erat dui, imperdiet sit amet nisl scelerisque, rutrum mattis purus. Vestibulum efficitur quis odio at varius. Nulla maximus rhoncus ante ut efficitur. Mauris ut consequat erat, eu congue enim. 
	Donec neque massa, imperdiet eget malesuada id, egestas sit amet lorem. Donec aliquet, dui nec luctus mattis, diam enim semper ligula, quis laoreet elit massa ac ex.
</p>
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id lobortis dui. Praesent quis odio massa. In congue accumsan ex, a condimentum quam tincidunt nec. 
	Sed mattis ipsum nunc, in congue dolor lobortis sed. Morbi sapien erat, eleifend vel nulla vel, feugiat egestas ante. Praesent auctor dolor vitae auctor commodo. Suspendisse potenti.
</p>

{% endblock content %}