table.month-timetable {
  table-layout: fixed;
}

table.month-timetable tbody > tr {
  height: 120px;
}

table.month-timetable td {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 0.8rem;
}

table.month-timetable td.no-day {
  background: #c3c3c3;
}

table.month-timetable div.day-number {
  background: #c9c9c9;
  padding-left: 0.3rem;
  margin-bottom: 0.2rem;
}

table.month-timetable ul.event-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table.month-timetable ul.event-list li {
  background: #33acff;
  padding-left: 0.3rem;
}

table.day-timetable {
  table-layout: auto;
}

table.day-timetable tbody tr td {
  width: 100%;
  border: 0;
}