.calendar-options {
  align-items: center;
}

table.month-calendar {
  table-layout: fixed;
}

table.month-calendar tbody > tr {
  height: 120px;
}

table.month-calendar td {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 0.8rem;
}

table.month-calendar td.no-day {
  background: #c3c3c3;
}

table.month-calendar div.day-number {
  background: #c9c9c9;
  padding-left: 0.3rem;
  margin-bottom: 0.2rem;
}

table.month-calendar ul.event-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table.month-calendar ul.event-list li {
  background: #33acff;
  padding-left: 0.3rem;
}

table.day-calendar {
  table-layout: auto;
}

table.day-calendar tbody tr td {
  width: 100%;
  border: 0;
}

table.week-calendar thead tr th {
  text-align: center;
}

table.week-calendar tbody tr td {
  border-top: 0;
  border-bottom: 0;
  width: 14.29%;
}

table.year-calendar {
  table-layout: fixed;
  width: 100%;
}

table.year-calendar td {
  white-space: nowrap;
}

table.year-calendar td.no-day {
  background: #c3c3c3;
}