{% extends "base.html" %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-9">
            <div class="content">
                <div class="card">
                    {% if timetables %}
                    <div class="card-header">
                        Timetables
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for timetable in timetables %}
                        <li class="list-group-item">
                            <a href="{{ url_for('timetables.show_timetable', id=timetable.id) }}">{{ timetable.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <div class="alert alert-primary" role="alert">
                        You have no timetables
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content%}